* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div.calculator-body {
	margin: 0 auto;
	margin-top: 50px;
	width: 250px;
	height: auto;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	text-align: center;
	border: 1px solid #999;
	border-radius: 10px;
	background: seashell;
}

#display {
	width: 90%;
	margin: 20px 0 0;
	padding: 20px;
	text-align: right;
	background-color: antiquewhite;
	border: hidden;
	/* font-weight: bold; */
}

#main-input {
	background-color: antiquewhite;
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	text-align: right;
	border: hidden;
	outline-style: none;
}

div.input-buttons {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 5px;
	max-width: 50%;
	padding: 10px;
	justify-content: center;
}

button {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	border: 1px solid blanchedalmond;
	background-color: blanchedalmond;
	outline-style: none;
	cursor: pointer;
}

#clear,
#posneg,
#percent,
#backspace,
#divide,
#times,
#minus,
#plus,
#equals {
	background-color: peachpuff;
}
